# ----------- PRML ---------- #
scikit-learn
torch>=1.13.1
torchvision>=0.14.1
torchaudio>=0.13.1
torchmetrics>=0.11.4
lightning>=1.9.1
DeepXDE==1.8.4

# --------- hydra ----------- #
hydra-core>=1.3.2
hydra-colorlog>=1.2.0
hydra-optuna-sweeper>=1.2.0

# --------- loggers --------- #
wandb
neptune
mlflow
comet-ml
tensorboard

# ---------  others --------- #
matplotlib          # plotting figures
pyrootutils         # standardizing the project root setup
pre-commit          # hooks for applying linters on commit
rich                # beautiful text formatting in terminal
pytest              # tests
sh                  # for running bash commands in some tests (linux/macos only)

# ----------- web ------------ #
streamlit==1.21.0
streamlit-extras==0.2.7

# --------- notebooks --------#
ipykernel
notebook
